h1 {
  text-align: center;
}

h1:not(:first-child) {
  margin-top: 50px;
}

.chart{
  width: 600px;
  height: 150px;
  background-color: #f7f7f7;
}

.max-w-600px{
  max-width: 600px;
}

.max-w-768px{
  max-width: 768px;
}

.fnt-15{
  font-size: 15px;
}

ul{
  list-style: none;
}

.color-low{
  color: #d0e4ff;
}

.color-mid{
  color: #7dace9;
}

.color-high{
  color: #3682e6;
}